/* Navbar */
.fa-male, .fa-download, .fa-euro-sign, .fa-times-circle,
.fa-trash-alt, .fa-pencil-alt, .fa-eye, .fa-plus-circle, .fa-file,
.fa-users, .fa-save
{
    margin-right: 5px;
}

.frame {
    border: solid 1px black;
    width: 210mm;
    height: 297mm ;
    margin: auto;
    padding-top: 8px;
}

.invoice-show {
    margin: auto;
    font-size: 1rem;
    width: 203.5mm;
    height: 290.5mm;
    padding: 8px;
}
.invoice-head {
    margin-bottom: 100px;
}
.table-invoice td {
    text-align: center;
}

.table-invoice th {
    padding-left: 5rem;
}

.invoice-foot {
    margin-top: 120px;
}

.border-bot {
    border-bottom: solid 1px dimgrey;
}

.strong {
    font-weight: bolder;
}

@media print {
    /* All your print styles go here */
    /*#header, #footer, #nav { display: none !important; }*/
}