<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mot de passe oublié</title>
    </head>
    <body>
        <h3>Mot de passe oublié</h3>
        <p>Bonjour {{ user.firstname }}, </p>
        <p>Vous pouvez réinitialiser votre mot de passe en cliquant sur <a href="https://gestion-sci/users/{{ user.resetPasswordToken }}/resetPassword">ce lien</a></p>
    </body>
</html>